/* Coolors Exported Palette - https://coolors.co/1b2845-5899e2-65afff-f5edf0-8ea5b0-335c81-274060 */

/* CSS HEX */
--space-cadet: #1b2845ff;       /* Título */
--blue-gray: #5899e2ff;         /* Sub-título */
--french-sky-blue: #65afffff;   /* Conteúdo */
--lavender  -blush: #f5edf0ff;  /* Parágrafo */
--pewter-blue: #8ea5b0ff;       /* Seção */
--bdazzled-blue: #335c81ff;     /* Aside */
--indigo-dye: #274060ff;        /* Rodapé */

/* CSS HSL */
--space-cadet: hsla(221, 44%, 19%, 1);
--blue-gray: hsla(212, 70%, 62%, 1);
--french-sky-blue: hsla(211, 100%, 70%, 1);
--lavender-blush: hsla(338, 29%, 95%, 1);
--pewter-blue: hsla(199, 18%, 62%, 1);
--bdazzled-blue: hsla(208, 43%, 35%, 1);
--indigo-dye: hsla(214, 42%, 26%, 1);

/* SCSS HEX */
$space-cadet: #1b2845ff;
$blue-gray: #5899e2ff;
$french-sky-blue: #65afffff;
$lavender-blush: #f5edf0ff;
$pewter-blue: #8ea5b0ff;
$bdazzled-blue: #335c81ff;
$indigo-dye: #274060ff;

/* SCSS HSL */
$space-cadet: hsla(221, 44%, 19%, 1);
$blue-gray: hsla(212, 70%, 62%, 1);
$french-sky-blue: hsla(211, 100%, 70%, 1);
$lavender-blush: hsla(338, 29%, 95%, 1);
$pewter-blue: hsla(199, 18%, 62%, 1);
$bdazzled-blue: hsla(208, 43%, 35%, 1);
$indigo-dye: hsla(214, 42%, 26%, 1);

/* SCSS RGB */
$space-cadet: rgba(27, 40, 69, 1);
$blue-gray: rgba(88, 153, 226, 1);
$french-sky-blue: rgba(101, 175, 255, 1);
$lavender-blush: rgba(245, 237, 240, 1);
$pewter-blue: rgba(142, 165, 176, 1);
$bdazzled-blue: rgba(51, 92, 129, 1);
$indigo-dye: rgba(39, 64, 96, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1b2845ff, #5899e2ff, #65afffff, #f5edf0ff, #8ea5b0ff, #335c81ff, #274060ff);
$gradient-right: linear-gradient(90deg, #1b2845ff, #5899e2ff, #65afffff, #f5edf0ff, #8ea5b0ff, #335c81ff, #274060ff);
$gradient-bottom: linear-gradient(180deg, #1b2845ff, #5899e2ff, #65afffff, #f5edf0ff, #8ea5b0ff, #335c81ff, #274060ff);
$gradient-left: linear-gradient(270deg, #1b2845ff, #5899e2ff, #65afffff, #f5edf0ff, #8ea5b0ff, #335c81ff, #274060ff);
$gradient-top-right: linear-gradient(45deg, #1b2845ff, #5899e2ff, #65afffff, #f5edf0ff, #8ea5b0ff, #335c81ff, #274060ff);
$gradient-bottom-right: linear-gradient(135deg, #1b2845ff, #5899e2ff, #65afffff, #f5edf0ff, #8ea5b0ff, #335c81ff, #274060ff);
$gradient-top-left: linear-gradient(225deg, #1b2845ff, #5899e2ff, #65afffff, #f5edf0ff, #8ea5b0ff, #335c81ff, #274060ff);
$gradient-bottom-left: linear-gradient(315deg, #1b2845ff, #5899e2ff, #65afffff, #f5edf0ff, #8ea5b0ff, #335c81ff, #274060ff);
$gradient-radial: radial-gradient(#1b2845ff, #5899e2ff, #65afffff, #f5edf0ff, #8ea5b0ff, #335c81ff, #274060ff);