/* Esquema de cores geradas pelo site https://coolors.co */

body {
    background-color: #f5edf0ff
}
h1 {
    background-color: #1b2845ff;
    color: #f8f8ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
p {
    /* background-color: #8ea5b0ff; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 15px
}
#msg {
    font-family: fantasy;
    font-weight: normal;
    font-size: 15px;
    line-height: 2em
}
ol li {
    line-height: 3em;
}
h2 {
    background-color: #5899e2;
    text-align: center
}
li {
    line-height: 150%
}
.links {
    line-height: 2em
}
